<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <script>
        // Safely embed server-side values as JSON
        let status = <%- JSON.stringify(status) %>;
        let BASEurl = <%- JSON.stringify(url) %>;

        console.log("url==", BASEurl);

        if (status === "verify") {
            console.log("Redirecting to signin:", BASEurl);
            if (confirm("Do you want to login?")) {
                window.location.href = BASEurl + "/signin";
            }
        }
    </script>
</head>
<body>
    <div class="my-div">
       <div class="center-grid">
           <div class="custom-div">
                <div class="heading-text">
                    <p>Reset Password</p>
                </div>
                <div class="content">
                    <h3> Email: <%= email%></h3>
                    <form class="frm" action="" method="post">
                        <input type="password"   class="textbox" name="password" placeholder="Enter New Password" id="password"/><br/>
                        <input type="submit" class="my-button" value="submit"/>
                    </form> 
                </div>
                
            </div>
       </div>
    </div>
    
</body>
</html>